<!DOCTYPE html>
<html lang="en">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="../assets/styles/homebanking.css">
<link rel="shortcut icon" href="/web/img/logo_arbol.png" type="image/x-icon">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c8ee3dd930.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div id="app">

        <header class="">
            <section class="hero-section">
                <div class="row justify-content-center">

                </div>
            </section>
            <nav class=" sticky-top navbar navbar-default navbar-expand-lg nav-menu p-0 ">

                <div class="container-fluid">

                    <button class="navbar-toggler nav-button" type="button" data-toggle="collapse"
                        data-target="#myNavbar">
                        <div class="line1 ham"></div>
                        <div class="line2 ham"></div>
                        <div class="line3 ham"></div>
                    </button>

                    <div class="collapse navbar-collapse justify-content-center" id="myNavbar">

                        <ul class="navbar-nav ml-aulo">
                            <li class="nav-item">
                                <a class="nav-link m-2 menu-item  fw-bold" href="/webb/pages/index.html"> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-2 menu-item  fw-bold" href="/webb/pages/homebanking.html"> Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-2 menu-item fw-bold " href="/webb/pages/accounts.html"> Accounts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-2 menu-item fw-bold nav-active active"
                                    href="/webb/pages/cards.html"> Cards </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-2 menu-item fw-bold" href="/webb/pages/transactions.html">
                                    Transactions </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-2 menu-item fw-bold" href="/webb/pages/loans.html"> Loans </a>
                            </li>
                            <li class="nav-item">
                                <button @click="logout()" style="border: none; background: none;">
                                    <a class="nav-link m-2 menu-item fw-bold" href="./login.html">Logout</a>
                                </button>
                            </li>


                        </ul>

                    </div>

                </div>
            </nav>
            <div class="container-fluid justify-content-center" v-if="cards.length != 6">
                <button class="btn btn-dark ">
                    <a href="/webb/pages/create-cards.html" style="text-decoration: none;" class="text-light">
                        request your credit card</a>
                </button>
            </div>
        </header>

        <main class="d-flex flex-wrap justify-content-center mt-5">

            <div class="h-50">

                <div class="text-center mt-5" v-if="cards.length == 0">
                    <div class="empty-icon-container">
                        <div class="animation-container">
                            <div class="bounce"></div>
                            <div class="pebble1"></div>
                            <div class="pebble2"></div>
                            <div class="pebble3"></div>
                        </div>
                        <div>
                            <h2 class="">You dont have any card :(</h2>
                            <p class="mt-5 fs-3">
                                If you want to request a card, you can do it from the button!</p>
                        </div>
                    </div>

                </div>



            </div>
            <div class="container d-flex flex-wrap justify-content-center gap-5" v-if="cards.length != 0">


                <div class="cards card mt-2 mb-3" style="height: 16rem; border: none; background-color: transparent;"
                    v-for="card in cards">
                    <div class="contents ">
                        <div class="front p-0 gold"
                            v-bind:class="{'gold': card.color == 'GOLD', 'titanium':card.color == 'TITANIUM', 'silver':card.color == 'SILVER'}">
                            <div class="strip-bottom">
                            </div>
                            <div class="strip-top"></div>
                            <svg class="logo" width="40" height="40" viewbox="0 0 17.5 16.2">
                                <path d="M3.2 0l5.4 5.6L14.3 0l3.2 3v9L13 16.2V7.8l-4.4 4.1L4.5 8v8.2L0 12V3l3.2-3z"
                                    fill="white"></path>
                            </svg>

                            <div class="investor text-shadow">Tokio Bank</div>
                            <h2 class="text-center text-shadow p-0 m-0">{{card.color}}

                            </h2>
                            <div class="chip">
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-main"></div>
                            </div>
                            <div class="card-holder text-shadow">{{card.cardHolder}} </div>
                            <!-- <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787"
                                fill="white">
                                <path
                                    d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z">
                                </path>
                                <path
                                    d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z">
                                </path>
                                <path
                                    d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z">
                                </path>
                            </svg> -->

                            <div class="card-number mt-5">
                                <div class="section text-shadow">{{card.number}}</div>
                            </div>
                            <div class="end">
                                <span class="end-text">exp: </span>
                                <span class="end-date"> {{card.fromDate}} </span>
                                <span class="end-text"> end: </span>
                                <span class="end-date"> {{card.thruDate}} </span>
                            </div>
                            <div class="card-holder text-shadow">{{card.cardHolder}}
                            </div>
                            <div class="master">
                                <div class="text-shadow p-2"> {{card.type}} </div>
                                <div class="circle master-red"></div>
                                <div class="circle master-yellow"></div>
                            </div>
                        </div>
                        <div :class="{'backGold': card.color == 'GOLD', 'backTitanium':card.color == 'TITANIUM', 'silver':card.color == 'SILVER'}"
                            class="back">
                            <div class="strip-black"></div>
                            <div class="ccv">
                                <label>ccv</label>
                                <div>{{card.cvv}}</div>
                            </div>
                            <div class="terms">
                                <p class="text-dark">This card is property of Monzo
                                    Bank, Wonderland. Misuse is criminal
                                    offence. If
                                    found, please return to Monzo Bank or to the nearest
                                    bank with MasterCard logo.
                                </p>
                                <p>Use of this card is subject to the credit card
                                    agreement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-3 "v-if="cards.length == 0">
                <div class="card text-white  fondoCard w-100" style="border:none;">
                    <img class="card-img"
                        src="/webb/assets/img/image-smiling-korean-woman-showing-credit-card-mobile-phone-screen-smartphone-application-interface-paying-online-shopping-contactless-standing-pink-background - copia (2).jpg"
                        alt="Card image" style="height: 42vh; background-size: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-title  text-dark fs-1 mb-5 fw-bold">Credit Cards</h5>

                        <p class="card-text fs-5" style="width: 40%;">Benefits of having a credit card.
                            Finance your purchases. One of the most important
                            advantages is that you can finance your purchases of products and services. That is,
                            the
                            bank
                            lends
                            you money through your credit card with the promise of returning it in a certain
                            time so
                            as
                            not
                            to
                            generate interest.</p>
                        <div class="" v-if="cards.length != 6"> <button class="btn btn-dark ">
                                <a href="/webb/pages/create-cards.html" style="text-decoration: none;"
                                    class="text-light">
                                    request your credit card</a>
                            </button>
                        </div>

                    </div>

                </div>

            </div>

        </main>




        <footer class="footer-section">
            <div class="container">
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="../assets/img/TokioBank_logo.svg" class="img-fluid"
                                            alt="logo"></a>
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididuntut consec tetur adipisicing
                                        elit,Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <span>Follow us</span>
                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Email Address">
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1500,
            once: true
        });

    </script>
    <!-- Link to page
    ================================================== -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/webb/assets/js/homebanking.js"></script>

</body>

</html>